{% extends "_base.html" %}
{% load static %}
{% load compress %}

{% block title %} Menu 1 {% endblock %}

{% block content %}

<div class="container mx-auto">
	<div class="text-center py-1.5"></div>
        <p class="text-center py-2.5 font-prompt underline text-2xl">อาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพตามวิถีภูมิปัญญาท้องถิ่นของจังหวัดอุบลราชธานี</p>
    </div>
    <div class="flex flex-wrap justify-center gap-8">
        <div class="max-w-screen-2xl text-center">
            <img alt="" src="{% static 'menu/03/f0401.jpg' %}" class="object-cover mx-auto" />
            <div class="px-4 py-4">
                <h3 class="font-bold text-xl mb-2 font-mitr">หลนเค็มบักนัด</h3>
                <p class="text-gray-700 text-base font-sarabun">
                    หลนเค็มบักนัด เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี มีความโดดเด่นและมีเอกลักษณ์เฉพาะของจังหวัดอุบลราชธานี เป็นภูมิปัญญาในการถนอมอาหารด้วยวิธี แปรรูป แบบดองเค็มเพื่อให้เก็บไว้ได้นานเป็นปี เป็นอาหารพื้นเมืองโบราณของจังหวัดอุบลราชธานีมาช้านานที่ได้สืบทอดกันมารุ่นต่อรุ่นใช้ส่วนผสมจากวัตถุดิบธรรมชาติที่มีในท้องถิ่นโดยใช้ส่วนผสมหลัก คือ เนื้อปลา ซึ่งปลาที่นำมาเป็นเค็มบักนัด ส่วนใหญ่จะเลือกใช้เนื้อปลาเทโพหรือปลาสวายติดหนัง นำมาหั่นเป็นชิ้นบางๆ เป็นปลาจากแม่น้ำมูลที่ได้จากผืนดินของจังหวัดอุบลราชธานี แล้วนำมาคลุกเคล้ากับเกลือ เป็น “ เกลือสินเธาว์” จะเป็นเกลือจากที่อื่นหรือ “เกลือจากทะเล” ไม่ได้เป็นอันขาด ถ้านำมาใช้จะเกิดการ “เน่าบูด เสียหาย” ไม่เป็น “เค็มบักนัด” ตามที่ต้องการ และหมากนัดก็ต้องเป็น”หมากนัดหม้อ” จากสวนในจังหวัดอุบลราชธานี สับเนื้อหมากนัดสุกที่สับละเอียดไว้ คลุกเคล้าส่วนผสมทุกอย่างให้เข้าเป็นเนื้อเดียวกันแล้วบรรจุใส่ขวด ปิดฝาให้แน่น หมักดองเก็บไว้จนได้ระยะเวลาที่เหมาะสมก็สามารถนำมารับประทานได้ 
                </p>
                <div class="flex space-x-1 w-full mx-4 py-4">
                    <img alt="" src="{% static 'menu/03/f0402.jpg' %}" class="w-1/2 object-contain" style="max-height: 280px;"/>
                    <img alt="" src="{% static 'menu/03/f0403.jpg' %}" class="w-1/2 object-contain" style="max-height: 280px;"/>
                </div>
            </div>
        </div>
    </div>


{% endblock %}